.container { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}

.child {
  border-radius: 12px;
  color: rgb(247, 247, 247);
}

.skills {
  grid-column: 2/8;
  grid-row: 2/5;
  background-color: rgb(144, 77, 206);
}

.bio {
  grid-column: 8/12;
  grid-row: 2/5;
  background-color: rgb(194, 158, 113);
}

.hobby {
  grid-column: 2/7;
  grid-row: 5/7;
  background-color: rgb(52, 155, 132);
}

.projects {
  grid-column: 7/12;
  grid-row: 5/7;
  background-color: rgb(182, 115, 140);
}

.links {
  grid-column: 2/12;
  grid-row: 7/8;
  background-color: rgb(99, 136, 160);
}
