* {
  font-family: sans-serif, verdana;
}

.name {
  text-align: center;
}

h2,
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.child {
  min-height: 400px;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  border-style: dashed;
  border-color: rgb(148, 50, 140);
}

.links_container {
  display: grid;
  grid-template-rows: (1, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.links_container_child {
  min-height: 100px;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  border-style: dashed;
  border-color: rgb(148, 50, 140);
}
